<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"    
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="com.spyu.mapper.UserInfoMapper">
	
	<!-- 最后的object的属性  -->
	<resultMap type="userInfo" id="userInfoResult">
		<id column="user_id" property="userId" />
		<result column="user_name" property="userName" />
		<result column="user_password" property="password" />
		<collection property="roles" ofType="roleInfo" resultMap="roleInfoResult" />
	</resultMap>
	<!-- 
	多对多  
	1.先实例化userInfo
	2.再实例化roleInfo
	-->
	<resultMap type="roleInfo" id="roleInfoResult">
		<id column="role_id" property="roleId"/>
		<result column="role_name" property="roleName" />
	</resultMap>
	
	<select id="getByName" parameterType="string" resultMap="userInfoResult" >
		SELECT 
			ui.user_id AS user_id, 
			ui.user_name AS user_name, 
			ui.user_password AS user_password,
			ri.role_id AS role_id,
			ri.role_name AS role_name
		FROM 
			userinfo ui, user_role ur, roleinfo ri
		WHERE 
			ui.user_id = ur.user_id AND ur.role_id = ri.role_id
			AND user_name = #{username}
	</select>
</mapper>