<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration  PUBLIC "-//ibatis.apache.org//DTD Config 3.0//EN"  "http://ibatis.apache.org/dtd/ibatis-3-config.dtd">
<configuration>
	
	<typeAliases>
		<!-- 权限管理  -->
		<typeAlias type="com.spyu.bean.UserInfo" alias="userInfo" />
		<typeAlias type="com.spyu.bean.RoleInfo" alias="roleInfo" />
	</typeAliases>
	
	<mappers>
		<mapper resource="com/spyu/mapper/userInfoMapper.xml" />
	</mappers>
</configuration>